body {
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-rows: 1fr 8fr;
}

.utils-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.snippet-name {
  color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.main {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  padding: 0.5em;
  max-height: 89vh;
  overflow: hidden;
}

.main > * {
}

.sec:not(.website) {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.language-heading {
  font-family: Roboto, sans-serif;
  color: white;
  background: rgb(var(--primary-200));
  display: flex;
  padding: 10px 5px;
  gap: 0.5em;
}

.language-logo {
  margin: auto 0;
}

.save-btn {
  cursor: pointer;
  width: max-content;
  padding: 0.75vh 5vh;
  font-family: Roboto, sans-serif;
  font-size: 2.5vh;
  color: white;
  border-radius: 100vw;
  background: linear-gradient(to right, red, blue);
  transition: padding 125ms ease-out;
}
.save-btn:hover {
  padding: 0.9vh 5.3vh;
  cursor: pointer;
}

.codebox {
  padding: 5px;
  display: flex;
  color: white;
  font-family: Consolas;
  max-height: 100%;
  overflow: auto;
}

.numbering {
  padding-left: 2px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  border-right: 1px solid gray;
  height: max-content;
}

.code {
  width: 100%;
  height: max-content;
  padding: 0 5px;
  cursor: text;
  line-height: 1.5;
  color: white;
}

.code:focus {
  outline: none;
}
