<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="nav">
        <div class="nav__logo" onclick="window.location.href='/';">
            <div class="nav__logo__name">SnippetSandbox</div>
        </div>
        <div class="nav__main">
            <div class="nav__main__bar"></div>
            <div class="nav__main__new-btn nav-btn" tabindex="0" onclick="window.location.href='/new-snippet'">New Snippet</div>
            {% if session.user %}
                <div class="nav__main__user-snippets-btn nav-btn" tabindex="0" onclick="window.location.href='/{{ session.user }}/snippets'">Your Snippets</div>
            {% endif %}
        </div>
        {% if session.user %}
            <div class="nav__logout">
                <div class="nav__logout__bar"></div>
                <div class="nav__logout__btn" onclick="window.location.href='/logout'" tabindex="0">Logout</div>
            </div>
        {% else %}
            <div class="nav__login">
                <div class="nav__login__bar"></div>
                <div class="nav__login__btn" onclick="window.location.href='/login'" tabindex="0">Login</div>
            </div>
        {% endif %}
    </div>
    <div class="fake-nav"></div>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>